<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/our_equipment.css">
    <title>Document</title>
</head>
<body>
<section class="header">
    <nav>
        <a href="index.html">
            <img class="logo" src="../static/imagini/Logo3.png" width="60" height="60"/>
        </a>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="index.html" target="_self">HOME</a>

                </li>
                <li>
                    <a href="login.html" target="_self">LOGIN</a>
                </li>
                <li>
                    <a href="">COURSES</a>
                </li>
                <li>
                    <a href="">RENT EQUIPMENT</a>
                </li>
                <li>
                    <a href="our_team.html">OUR TEAM</a>
                </li>
                <li>
                    <a href="">ABOUT</a>
                </li>
                <li>
                    <a href="http://localhost:63342/finalProject/templates/contact.html?_ijt=fb75gc1mvdjkg0b4scsejag2e&_ij_reload=RELOAD_ON_SAVE" target="_self">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="box">
        <div class="container2">
            <div class="course-col">
                <h1>Beginner</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
                    iusto ipsam, quia corrupti eius accusamus incidunt quis debitis in
                    mollitia aliquam soluta deleniti, explicabo ipsum. Dolorum esse
                    commodi tempore laborum?
                </p>
                <div class="poza">
                    <img src="https://www.noleggiosci-ortisei.com/typo3temp/_processed_/csm_5_04_d57b79150b.jpg" alt="Poza">
                </div>
                <span class="span_rent"><a class="rent_link" href="login.html">RENT EQUIPMENT</a></span>
            </div>
        </div>
        <div class="container2">
            <div class="course-col">
                <h1>Intermediate</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
                    iusto ipsam, quia corrupti eius accusamus incidunt quis debitis in
                    mollitia aliquam soluta deleniti, explicabo ipsum. Dolorum esse
                    commodi tempore laborum?
                </p>
                <div class="poza">
                    <img src="https://www.noleggiosci-ortisei.com/typo3temp/_processed_/csm_5_04_d57b79150b.jpg" alt="Poza">
                </div>
                <span class="span_rent"><a class="rent_link" href="login.html">RENT EQUIPMENT</a></span>
            </div>
        </div>
        <div class="container3">
            <div class="course-col">
                <h1>Professional</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit
                    iusto ipsam, quia corrupti eius accusamus incidunt quis debitis in
                    mollitia aliquam soluta deleniti, explicabo ipsum. Dolorum esse
                    commodi tempore laborum?
                </p>
                <div class="poza">
                    <img src="https://www.noleggiosci-ortisei.com/typo3temp/_processed_/csm_5_04_d57b79150b.jpg" alt="Poza">
                </div>
                <span class="span_rent"><a class="rent_link" href="login.html">RENT EQUIPMENT</a></span>
            </div>
        </div>
    </div>
</section>

</body>
</html>